krusty-skeleton/.settings/
krusty-skeleton/.gradle
krusty-skeleton/build/
krusty-skeleton/target/
krusty-skeleton/*.class
.metadata/
krusty-skeleton/bin/
krusty-skeleton/tmp/
krusty-skeleton/*.tmp
krusty-skeleton/*.bak
krusty-skeleton/*.swp
krusty-skeleton/*~.nib
krusty-skeleton/local.properties

krusty-skeleton/.loadpath
krusty-skeleton/.recommenders

krusty-skeleton/.project
